[Unit]
Description= Eteint le Rpi quand GPIO05 à 0V
After=syslog.target 

[Service]
ExecStart=/usr/bin/python /opt/FSDWN/fshutpw.py
Type = simple
RemainAfterExit=no
User=root
KillMode=process

[Install]
WantedBy=multi-user.target

